* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-text {
  height: 550px;
  width: 800px;
  margin: 200px auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: black;
  margin-bottom: 90px;
  margin-top: 30px;
}

.text {
  display: flex;
  gap: 60px;
}

.card {
  margin-left: 40px;
  padding: 40px;
  box-shadow: 0 2px 5px grey;
  background-color: white;
}

.card h4 {
  font-size: 1rem;
  margin-bottom: 18px;
  color: black;
}

.content {
  font-size: 0.78rem;
  color: gray;
  margin-bottom: 18px;
}

.author {
  color: black;
  margin-bottom: 10px;
}

.signature {
  font-size: 0.7rem;
  color: darkblue;
}

.para {
  font-size: 0.78rem;
  color: black;
  margin-right: 40px;
}
