* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url("assets/ocean.jpg");
  background-size: 90%;
  background-position: 100px -350px;
}

a {
  text-decoration: none;
  color: black;
}

#page-logo a {
  font-size: 30px;
  font-weight: bolder;
  color: khaki;
  font-style: italic;
}

nav a {
  font-size: 18px;
  color: yellow;
  font-weight: bolder;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

#hero-content {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 40px auto;
  border-radius: 10px;
}

#hero-content h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

#hero-content p {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

#hero-content a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: yellow;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bolder;
  color: black;
}

footer ul {
  display: flex;
  gap: 40px;
  list-style: none;
  justify-content: center;
}

footer {
  background-color: black;
  height: 80px;
  align-content: center;
}

footer img {
  width: 40px;
  height: 40px;
}

#destinations {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.destination {
  overflow: hidden;
}

.destination img {
  width: 600px;
  height: 150px;
  box-shadow: 0px 3px 3px gray;
  object-fit: cover;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

#highlights {
  background-color: rgb(202, 255, 255);
  padding: 40px;
  margin-top: 210px;
}

strong {
  color: mediumspringgreen;
}

.destination p {
  text-align: center;
  margin-top: 10px;
}
